* {
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
    font-size: 1.2em;
}

body {
    width: 95%;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

a {
    color: black;
}

body > article > h1 {
    color: black;
}

body > article > h2 {
    color: mediumvioletred;
}

footer {
    clear: both;
    text-align: center;
    font-size: .6em;
}

header > p > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body > article {
    width: 30%;
    float: right;
    text-align: center;
    border: 2px solid darkcyan;
    box-sizing: border-box;
}

body > section {
    width: 70%;
    float: left;
    box-sizing: border-box;
}

#guarantee {
    display: block;
    border: 5px dashed white;
    padding: 20px;
    margin: 30px;
    color: #444444;
    background-color: #a7cece;
}

li:first-child {
    font-weight: bold;
}