h1,h2,h3 {
    font-family: Arial;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em
}
h3 {
    font-size: 1.4em
}
p {
    font-family: "Times New Roman";
    font-size: 1.2em;
}
.Paragraaf1 {
    color: Red;
}
.Paragraaf2 {
    color: Blue;
}
.Paragraaf3 {
    color: green;
}